.sidebar-Container {
    width: 35%;
    min-height: 300px;
    /* min-height: 80vh; */
    background: #d8e8e6;
    color: #464545;
}

.sidebar-section {
    margin: 10px;
    margin-top: 23.8px;
}

.section-content {
    margin-top: 20px;
}

.section-title {
    font-weight: 600;
    font-size: 20px;
}

.skill {
    display: flex;
    padding-top: 10px;
}

.skill-title {
    flex-basis: 30%;
    min-width: 150px;
    font-variant: small-caps;
}

.skill-stars {
    flex-basis: 70%;
}

.skill-star {
    min-width: 20px !important;
}

.skill-sec {
    padding-bottom: 10px;
    font-variant: small-caps;
}

@media screen and (min-width: 480px){
    .sidebar-Container{
        max-width: 100%;
        /* min-height: 80vh;  */
        order: 1;
    }
}