.app-Container {
  min-height: auto;
  background: white;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1000px) {
  .app-Container{
    width: 1000px;
    margin: auto;
  }
}

@media print and (min-width: 1000px) {
  .app-Container{
    /* width: 1000px;
    margin: auto; */
    /* width: 8.5in;
    height: 11in; */
  }
}
